name: Validate Build Only

on:
  push:
    branches:
      - '**'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        users: actions/checkout@v3

      - name: Set up JDK 21
        users: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven (skip tests)
        run: mvn clean package -DskipTests